{% extends "base.html" %}


{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}


<style>
{% block style %}
h1 {
	color: #777777;
}



{% endblock style %}
</style>



<h1>Hi there</h1>


{% block content %}

<div class='col-sm-6 col-sm-offset-3'>



<h1>{{ title }} <br><small>{% if instance.draft %}<span style='color:red;'>Draft </span>{% endif %}{{ instance.publish }}</small></h1>

<br>
<br>
<hr color="red">
{% if instance.user.get_full_name %}
<p>Author:{{ instance.user.get_full_name }}</p>
{% endif %}
<!--{{ instance.title }}<br/>-->
{{ instance.content|linebreaks }}<br/>

Last Updated on: {{ instance.updated }}<br/>
Post ID: {{ instance.id }}<br/>


{% if instance.image %}
<img src='{{ instance.image.url }}' class='img-responsive' />
{% endif %}










<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
Twitter
</a>



<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>



<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}">Reddit</a>


</div>
{% endblock content %}
